<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
	<CodeSnippet Format="1.0.0">
		<Header>
			<Title>EF Foreign Key</Title>
			<Author>Myself</Author>
			<Description>Insert foreign key line</Description>
			<Shortcut>fk</Shortcut>
		</Header>
		<Snippet>
			<Code Language="CSharp">
				<![CDATA[[ForeignKey("")]]]>
			</Code>
		</Snippet>
	</CodeSnippet>
</CodeSnippets>