@{
    ViewData["Title"] = "About Us";
    Layout = "/Views/Shared/_OldWPLayout.cshtml";
}

<div id="content" class="site-container site-content heading-prop-2" style="padding-top:130px;">
    <div class="entry-content">

        <div class="wp-block-cover" style="background-image:url(/wp-content/uploads/2020/02/schloss.jpg)">
            <div class="wp-block-cover__inner-container">
                <p style="color:#ffffff;font-size:41px" class="has-text-color has-text-align-left"><strong>About Us</strong></p>
            </div>
        </div>



        <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>



        <div class="wp-block-columns">
            <div class="wp-block-column" style="flex-basis:82%">
                <p> Eze2Travel, founded in 1996, is located in Raleigh, North Carolina. The agency has provided personalized business travel solutions and customized vacation planning for over 20 years.  </p>



                <p>Silke Eze, a native of Germany, moved to NC in 1990 and has been a Certified Travel Counselor (CTC) since 1991. Prior to founding Eze2Travel, she worked at American Express Travel and Carlson Wagonlit.  </p>
                <p>“As a senior travel advisor, I am passionate about getting to know my clients and learning about their unique travel needs and designing customized and personalized travel itineraries. Whether my clients desire a tropical Caribbean getaway or a more detailed journey through Europe, an ocean or river cruise, multi-country experience in South America or a once in a lifetime safari in Africa, I am always ready to turn their dreams into reality”.</p>

            </div>



            <div class="wp-block-column" style="flex-basis:18%;padding-top:-50px;padding-bottom:0px;">
                <figure class="wp-block-image size-large"><img alt="silke" src="/wp-content/uploads/2020/02/silke.jpg">
            </div>
        </div>



        <p>
            Silke’s immensely valuable and strong partnerships with fully vetted and amazing “in country” travel partners and trusted tour operators gives her the ability to offer her clients uniquely handcrafted experiences throughout the world.
        </p>

        <p>
            In early 2020 Eze2Travel expanded with the addition of Eric Watson to the team. Eric brings 30+ years of experience in the IT and Project Management field to Eze2Travel. His role as COO will be vital in the continued growth of Eze2Travel.
        </p>

        <p>
            Even though 2020 turned out to be the most difficult and challenging year to date due to the Coronavirus pandemic, it has also given Eze2Travel the opportunity to revamp its entire structure and adding valuable automation tools and positioning the agency to reach and service a much broader audience. Beginning 2021, Eze2Travel will expand by adding independent travel advisors to the team. Our team members are profiled in detail on the next page. This will give our clients the ability to choose their agent of choice based upon their special interest, travel style or destination.
        </p>

        <p>
            Eze2Travel is a valued Travel Leaders Network consortium member, which includes Select Hotels & Resorts. Discover amazing hotels and resorts and learn about the exclusive amenities at each participating hotel such as complimentary breakfasts for two daily, complimentary room upgrades (upon availability), early check-ins and late check-outs (when available) and more.
        </p>

        <p>
            <a href="https://www.tlselecthotels.com/">Travel Leaders Select hotel directory </a>
        </p>

        <p>
            In addition to our membership with Travel Leaders Network, we can also offer booking hotel and resort reservations via the prestigious American Express Fine Hotels & Resorts program (FHR).
        </p>

        <p><a href="https://www.fhrdigitaldirectory.com/"> American Express FHR directory </a></p>
    </div><!-- .entry-content -->
</div><!-- #primary -->
