@{
    ViewData["Title"] = "Trending";
    Layout = "/Views/Shared/_OldWpLayout.cshtml";
}

<div id="content" class="site-container site-content heading-prop-2" style="padding-top:130px;">
    <div class="entry-content">

        @*<div id="page_caption" class="hasbg parallax fullscreen notransparent" data-image="https://blitzerblobs.blob.core.windows.net/pictures-mexico/LeisureGermany.jpg" data-width="1600" data-height="1200">
            <div class="page_title_wrapper">
                <div class="tour_country_subheader"></div>
                <br class="clear">
                <h1>Travel Styles and Trending Destinations</h1>
            </div>
            <div class="parallax_overlay_header"></div>
        </div>*@

        <div class="wp-block-cover" style="height:650px;background-image: url(https://blitzerblobs.blob.core.windows.net/pictures-mexico/LeisureGermany.jpg)">
            <div class="wp-block-cover__inner-container">
                <p style="color:#ffffff;font-size:41px" class="has-text-color has-text-align-left"><strong>Travel Styles and Trending Destinations</strong></p>
            </div>
        </div>



        <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>



        <div class="wp-block-columns">
            <div class="wp-block-column" style="flex-basis:82%">
                <div class="TrendingHeader">Honeymoon & Romance Travel </div>
                <p> Planning a honeymoon or romantic get-away? Most couples have a vision for their trip that reflects their experiences, personalities, and individual likes and dislikes. You do not want this to be just another vacation… but instead, one of the most memorable travel experiences of your lifetime.  We love uncovering each of those unique preferences and creating perfect, customized honeymoons and romance vacations...every single time! </p>


                <div class="TrendingHeader">Family Vacations </div>
                <p> Whether you are looking to travel with young infants or toddlers, high-energy elementary schoolers, angst-ridden teens, or an extended family group, the perfect family vacation is out there, just waiting for you to find it. Let us help you find the perfect destination! </p>
            </div>



            <div class="wp-block-column" style="flex-basis:18%">
                <figure class="wp-block-image size-large"><img alt="silke" src="/wp-content/uploads/2020/02/silke.jpg"></figure>
            </div>
        </div>

        <div class="TrendingHeader">Ocean & River Cruises</div>
        <p>Ocean & River Voyages bring 2 different perspectives but show you the best of both worlds. There is so much to discover, from riverside villages to historic or tropical coastal ports. Enjoy cultural enrichment on board and on shore. Let us be your captain, assisting with choosing which style of cruising best meets your needs and wishes. Ships Ahoy!  </p>


        <div class="TrendingHeader">Customized Travel </div>
        <p>We specialize in custom itineraries offering unique, culturally enriching experiences. From handpicked hotels that exude the vibe and feel of your destination, intimate tours to some of the most off-the-beaten path adventures, we can offer something special for each traveler. These one-of-a-kind journeys create extraordinary, life-changing moments and priceless memories. Let us assist in creating YOUR journey of a lifetime! </p>

        <div class="TrendingHeader">Escorted Group Travel </div>
        <p>Experience the best in group travel with escorted tours. Why not join a like-minded group of fellow adventures and explore a new destination? Expert guides create authentic and inspiring trips worldwide. Enjoy off-the-beaten path excursions, delicious food, unforgettable Connections. These trips have it all. Are you ready?  </p>

        <div class="TrendingHeader">The Caribbean</div>
        <p>The Caribbean’s splendor and diversity are fascinating and captivating. The rich land, sugar-white beaches, glistening pools, the dreamy landscape, the warmth of its people are in perfect harmony of the past and the present, it can only sooth your soul and make your heart smile. Explore these rich island cultures that express themselves in superb cuisine, exhilarating nightlife, and the sensual beat of Caribbean, Latin or reggae music. From those who find nothing more exciting than a challenging game of golf to adrenaline junkies who will go from windsurfing to deep-sea or cliff diving without blinking, the opportunities are endless. Each island is unique and mesmerizing, you just must return repeatedly to explore them all.</p>

        <div class="TrendingHeader">Germany </div>
        <p>Germany is truly a destination worth discovering once, twice, or even one hundred times! (but I guess, I would be biased, as it is also my beloved home country). Germany’s unique culture was shaped from historical influences, amazing cuisine, the world’s best beer, exquisite wines (the famous Riesling comes from the Rhein region) and architecture and offers a cornucopia of distinct experiences to meet all kinds of expectations and suit all possible tastes.</p>
        <p>There are over 42 official UNESCO World Heritage Sites in Germany. This makes the country rich with historical attractions to feast your eyes on. You will find incredible treasures all over the country from fairytale-like castles such as Neuschwanstein (the Disney Castle) and well-preserved architectures dating back to the medieval times and after WWII.</p>
        <p>The capital city of Germany alone offers you a glimpse of history with the remnants of the Berlin Wall, the famous arch of “Unter den Linden” and the huge park called Tiergarten.  </p>
        <p>Jump on a local river boat cruise ship (KD Rhein) and take in the mesmerizing beauty of the German countryside, with its captivating landscapes, elegant old castles perched on the nearby hilltops, and vineyards stretching as far as the eye can see. </p>
        <p>End your visit in Munich to experience the unique traditions in Bavaria and see old town halls dating back to the 16th century and of course you have to time it just right, so you can experience the worlds largest folk festival (or should we call it a beer festival?) Oktoberfest!  </p>
        <p>Do not forget to visit the “Zugspitze”, the highest mountain in Germany. Take the new glass cable car up to the summit and see four countries bound by the beauty of the majestic Alps – Germany, Austria, Switzerland, and Italy. </p>
        <div>Greece </div>
        <p>Rugged mountains, exotic, pristine beaches with crystal-clear waters, green valleys, quiet lakes and lush forests, hospitable people, fantastic weather, unique flavors of a Mediterranean cuisine…there are a million reasons to visit Greece. The cradle of Western civilization and the birthplace of democracy and the Olympic games and home to 18 UNESCO World Heritage sites make it a wonderful and fascinating destination all year round. </p>

        <p>Even for non-history buffs, it is hard not to be fascinated with Greek history. This is the home of some of the most-famed archaeological sites and collections in the world, including the Acropolis in the capital of Athens, the site of the first Olympic Games, the Palace of Knossos in Crete and so much more. Whether you're exploring the country's well-preserved ruins that date back to the ancient world, meandering through age-old cities like Mycenae (home of Agamemnon, the king who destroyed Troy) and Aigai (the first capital of the Macedonian kingdom), or marveling at majestic temples and civilizations dedicated to Greek gods and goddesses, you'll be in a state of constant amazement throughout your travels. </p>

        <p>The Greek Isles have the best the country has to offer: wonderful beaches washed by the warm, clear sea; a party scene to suit any taste; coastal cliffs, rugged hills and gorges for hiking; ancient ruins and monuments of more recent history and traditional villages.</p>

        <div class="TrendingHeader">Patagonia, Chile/Argentina </div>
        <p></p> In the southernmost part of South America, Patagonia occupies 260,000 square miles spanning Argentina and Chile.</p>
        <p>Patagonia is often described as a mind-blowing wilderness. Snow-capped mountains, wild, windswept plains, and glacial valleys bring together one of the world's most impressive and remote natural settings. In this enormous scale lies Patagonia's appeal and a truly memorable experience.</p>
        <p>As a region so far removed from the rest of both Argentina and Chile, life here is unique. A local saying, “el que se apura en la Patagonia, pierde el tiempo”, sums up everything you need to know about Patagonia: “he who rushes in Patagonia, loses time”.</p>
        <p>The striking scenery of Patagonia is the result of major glaciological and geological transformations that took place in the region millions of years ago, creating mountains and countless valleys, glaciers, lakes, and rivers. The entire region has a population of about 2 million people, which makes it one of the most uninhabited areas of our planet and home to an incredible variety of wildlife and plant life.</p>
        <p>Torres del Paine is home to a growing population of the elusive Puma. The waters around Patagonia are home to four types of whales: the orca, humpback, southern right and the blue whale and of course you will see the famous penguins (“Pinguinos” in Spanish). But Patagonia is truly an avian paradise home to more than 460 species of birds.</p>
        <p>The wildlife here is incredible. Torres del Paine is home to a growing population of the elusive Puma. The waters around Patagonia are home to four types of whales: the orca, humpback, southern right and the blue whale and of course you will see the famous penguins (“Pinguinos” in Spanish). But Patagonia is truly an avian paradise home to more than 460 species of birds.</p>

        <div class="TrendingHeader">Italy </div>
        <p>Italy, a country with a long Mediterranean coastline has it all. Culture, history, food, wine, lakes, beaches, mountains, ancient ruins – one can go on and on. Italy makes you fall in love from the moment you step off the plane, every region is distinct and has its own charm, attractions, and cuisines, making it an ideal destination for all. Start your tour in Rome, home to the Vatican as well as countless sights, museums, and ancient ruins. Discover Tuscany and Florence, with Renaissance masterpieces such as Michelangelo’s "David" and Brunelleschi's Duomo and enjoy a gondola ride in Venice, the city of canals and treat yourself to an incredible shopping experience in Milan, Italy’s fashion capital. </p>
    </div><!-- .entry-content -->
</div><!-- #primary -->
