@{
    ViewData["Title"] = "Corporate";
    Layout = "/Views/Shared/_OldWpLayout.cshtml";
}

<div id="content" class="site-container site-content heading-prop-2" style="padding-top:130px;">
    <div class="entry-content">

        <div class="wp-block-cover" style="background-image:url(/wp-content/uploads/2020/02/corporateland.jpg)">
            <div class="wp-block-cover__inner-container">
                <p style="color:#ffffff;font-size:41px" class="has-text-color has-text-align-left"><strong>Corporate Travel</strong></p>
            </div>
        </div>



        <div style="height:50px" aria-hidden="true" class="wp-block-spacer"></div>



        <div class="wp-block-columns">
            <div class="wp-block-column">
                <h2 class="has-text-color" style="color:#ffc219">
                    About Corporate Travel
                </h2>



                <p> Planning business travel can put an unnecessary burden upon both your company and your employees. Even with the best of intentions, company  made arrangements translate into time and money wasted due to expediency, lack of knowledge and lack of negotiating power. Eze2Travel corporate travel planning is your travel advocate to insure that   arrangements are made with your business’ needs in mind, minimizing   unnecessary expenditures, squandered time and overall frustration.  </p>
            </div>



            <div class="wp-block-column">
                <div class="wp-block-columns">
                    <div class="wp-block-column">
                        <ul><li>  Travel management</li><li>One stop shopping</li><li>Lowest fare monitoring</li><li>Unused ticket tracking</li><li>Personal preference profiles</li><li>Travel policy management</li><li>Quality control processing  </li></ul>
                    </div>



                    <div class="wp-block-column">
                        <ul><li>  $100,000 flight insurance</li><li>Upgrades</li><li>Travel budget management </li><li>Supplier negotiations</li><li>Problem resolutions</li><li>Monthly and yearly customized reports</li><li>Agency volume discount  </li></ul>
                    </div>
                </div>
            </div>
        </div>



        <div class="wp-block-cover" style="background-image:url(/wp-content/uploads/2020/02/corpfrankfurt2.jpg)">
            <div class="wp-block-cover__inner-container">
                <p class="has-text-align-center has-large-font-size"></p>
            </div>
        </div>



        <h1 class="has-text-color" style="color:#ffc219">Why Use A Travel Agent</h1>



        <p> Our goal is to provide you with fast, professional and personal service,    that is often lacking in today’s business environment. We provide you    with the information, knowledge and experience to help you make the   best  decision.<br> We handle all of the details to make your business trip run smoothly.  </p>



        <h1 class="has-text-color" style="color:#ffc219"><img style="width: 40px;" alt="airplaneicon" src="https://www.eze2travel.com/wp-content/uploads/2020/02/airplane_gold.png" /> Companies</h1>



        <p> We will give your travelers access to a large selection of low fare   options, including net/bulk fares, consortia rates, agency-specific   discount rates. Eze2Travel belongs to two of the largest travel   consortia in the world, enabling us to offer the lowest possible rates   at most hotel chains and offering value-added amenities such as free   daily breakfast, free WiFi, and room upgrades.<br>Eze2Travel enforces your company travel policy with each reservation   and offers complimentary monthly and yearly travel summery reports.  </p>



        <h1 class="has-text-color" style="color:#ffc219"><img style="width: 40px;" alt="airplaneicon" src="https://www.eze2travel.com/wp-content/uploads/2020/02/airplane_gold.png"> Traveler  Arrangers</h1>



        <p>  Eze2Travel makes life easier for Administrative Assistants who have to   book trips for multiple executives so these valuable employees spend   less time managing travel. We are a phone call or an email away and   offer one stop shopping for flights, car rentals, hotel reservations   etc. Let us handle the next trip for you! </p>



        <h1 class="has-text-color" style="color:#ffc219"><img style="width: 40px;" alt="airplaneicon" src="https://www.eze2travel.com/wp-content/uploads/2020/02/airplane_gold.png"> Travelers</h1>



        <p> We make travel easy for our VIPs and Road Warriors. Easy to book, easy   to change, and easy to manage. We are always here to help, even   after-hours or on the weekend. Your itinerary is always available via   “TripCase” and can easily be imported into your calendar and shared with   your colleagues and clients.  </p>
    </div><!-- .entry-content -->

</div><!-- #content -->
