@{
    ViewData["Title"] = "Corporate";
    Layout = "/Views/Shared/_BaseLayout.cshtml";
}

<div style="text-align:center;min-height:350px;padding-top:50px">
    <h1>Oops!</h1>

    <h3>Looks like we had a litle problem</h3>
    <p>Our staff has been alerted and we will resolve this error as soon as possible</p>
</div>