@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "/Views/Shared/_OldWpLayout.cshtml";
}

<div id="content" class="site-container site-content heading-prop-2" style="padding-top:130px;">
    <div class="entry-content">
        <h1>@ViewData["Title"]</h1>

        <div class="TrendingHeader">Privacy Policy</div>
        Eze2Travel, LLC (DBA Eze2Travel) values your privacy. This Privacy Policy states the principles and practices that apply to our collection and use of information that you, our clients and prospective clients (hereinafter referred to as “you” and “your”) provide to us, whether in person, by telephone, mail or e-mail, or through our Websites www.eze2travel.com (the “Website”). Eze2Travel may revise this Privacy Policy, and any such revisions will be posted here. By visiting the Website, you accept the policies described in this Privacy Policy, and your continued use of the Website after such changes have been posted constitutes your acceptance of such changes.



        <div class="TrendingHeader">
            General Collection and Use
        </div>
        Some information is explicitly provided to us by you, while other information, such as your IP address, is gathered automatically as you use our services. You may voluntarily provide certain personal identifying information to us in connection with your purchase of travel-related products, subscriptions, and services (all of which will be referred to as “Personal Information”). If you choose to provide us with Personal Information by opting in, you consent to our collection of that information and to the transfer and storage of that information on our servers located in the United States. Personal Information includes all information you voluntarily provide to us, whether in person, by telephone, mail or e-mail, or on this Website, such as: (i) your contact information (e.g. name, telephone number, passport number, driver’s license or state identification number, and postal and e-mail addresses); (ii) financial information (e.g. credit card number, security code, cardholder name, billing address, and expiration date); and (iii) information related to your travel profile (e.g. travel preferences, including seat selection, frequent flyer/hotel/car rental program information, booking history and interests, and special health accommodations).

        We may use your Personal Information to provide you with travel-related information, including providing you with responses to requests for travel services, travel notifications, travel confirmations and updates, as well as managing your account, processing bills, and/or personalized mailings (electronic or otherwise) or other communications that you consent to receive, and to prevent potentially prohibited or illegal activity, resolve disputes and collect fees.

        <div class="TrendingHeader">
            Disclosure of Your Personal Information
        </div>
        We may share your information with third parties to facilitate your travel plans or requests for information.

        a.        Eze2Travel may share your Personal Information (only to the extent reasonably necessary or as required by the circumstances) and Aggregated Data, when applicable, with the following parties:

        (i)         Third party vendors and preferred suppliers, in order for such parties to (1) assist Eze2Travel  in providing the requested travel services to you, including personalizing your experience (2) provide aggregate reporting to Eze2Travel and certain third parties (using only Aggregated Data and not individual Personal Information when provided to third parties), and (3) provide 24/7/365 emergency customer support for certain eligible clients.

        (ii)         These highly regarded vendors and preferred suppliers with which Eze2Travel has alliances so that you may receive information about exclusive offers or other luxury products and services in which you may be interested (but if you do not wish to receive marketing communications from those parties, please contact us at info@eze2travel.com at and/or by unsubscribing);

        (iii)        Non-affiliated third party vendors and service providers which provide certain services or functions requested by you and/or which fulfill your requested transactions, including but not limited to, hotels, airlines, cruise lines, safari camps, event sites, tour operators, ground transportation providers, and car rental companies, as well as service providers who assist with our business operations (such as fraud investigations, bill collection and affiliate and award programs).

        (iv)        Other third parties to whom you explicitly ask us to send your information (or about whom you are otherwise explicitly notified and consent to when using a specific service).

        (v)        The appropriate parties if it is requested by a government agency or law enforcement personnel or if we are otherwise required by law to disclose it in response to subpoenas, court orders, or other legal process, to establish or exercise our legal rights, to defend against legal claims, or as otherwise required by law (in which case, we reserve the right to raise or waive any legal objection available to us).

        (vi)        The appropriate parties in order to investigate, prevent, or take action regarding illegal or suspected illegal activities, to protect and defend the rights, property, or safety of Eze2Travel, our clients or others, and in accordance with our terms and conditions and other agreements.

        (vii)       Other appropriate entities, such as our successors or assigns, should we undergo a corporate transaction, such as a divestiture, merger, consolidation, or asset sale.

        (viii)      The appropriate parties when we believe in good faith that disclosure is required to protect the security, property, assets and/or rights of Eze2Travel from unauthorized use or misuse of the Site or anything found at the Site.

        Once your Personal Information has been shared with a non-affiliated third party in accordance with this Privacy Policy, we cannot control how that third party collects, uses or shares your Personal Information and as such, we will thereafter have no responsibility for its use. Protection of your Personal Information in the possession of any such third party shall be governed by the privacy policy of that third party.



        <div class="TrendingHeader">
            Booking Tools
        </div>
        Eze2Travel may provide third-party links, or otherwise cooperate with third parties, to provide you with access to online booking tools. These online booking tools are owned and operated by third party providers and are not under the control of Eze2Travel.

        Eze2Travel may provide access to these online booking tools as a service to you, and is not responsible for their operation, content, information practices or any link contained in a linked site. These tools often gather personally identifiable information and financial information from you to complete your booking requests, and our service may include some of your Personal Information in the link to the booking tool to help streamline the booking process.

        <div class="TrendingHeader">
            Third Party Privacy Policies
        </div>
        Vendors, online booking tool providers, and other third parties with whom we share your Personal Information may have their own privacy policies contained in their linked websites, and we strongly encourage you to read those privacy statements. Eze2Travel’s privacy policy does not apply to these vendors, online booking tool providers, and other third parties, and their policies may differ from our policy.

        <div class="TrendingHeader">
            Cookies
        </div>
        In addition to the information gathered as described above, we use a technology called “cookies” which may be used to provide you with tailored information from a website. A cookie is an element of data that a website can send to your browser, which may then store it on your system. For example, some pages on the Website use cookies so that we may better serve you to personalize your experience on our Website. We also may use Cookies to offer you products, programs, or services. Cookies alone do not tell us your e-mail address or other Personal Information unless you choose to provide this information to us by, for example, registering on our Website. You can set your browser to notify you when you receive a cookie, giving you the chance to decide whether to accept it. However, please note that disabling cookies may prevent you from taking advantage of certain travel tools and program features on the Website. The information contained in or collected by cookies is not considered Personal Information for the purposes of this Policy.

        <div class="TrendingHeader">
            Log Files
        </div>
        Like most websites, we use log files to track system activity. These files include IP addresses, browser type, Internet service provider (ISP), and other technical information relating to your use of our Website. We use this information to analyze usage patterns, observe trends, administer the site, track user movements in the aggregate, and gather broad demographic information for aggregate use. We use Google Analytics to assist in this analysis.

        <div class="TrendingHeader">
            Aggregated Information
        </div>
        In addition to any Personal Information you may voluntarily provide to us, this Website also collects general information regarding visitors and users of this Website as it relates to their use of the Website (referred to herein as “Aggregated Data”). This information is collected automatically each time a user navigates our Website. The term Aggregated Data includes, but is not limited to, such information as traffic patterns, number, frequency and duration of visits to certain pages, visits from other websites or to third-party websites linked to this Website, use of particular services and interest in services, information or features of the Website or other parties made available through or found at the Website. This information is anonymous and is useful for improving the content and navigational tools of our Website. Aggregated Data may also include information or data obtained from you or other sources, which has been combined with or compiled from other information or data in such a manner to no longer be personally identifiable or linked to an individual. Aggregated Data is not considered Personal Information for the purposes of this Policy.

        <div class="TrendingHeader">
            Children
        </div>
        Eze2Travel does not sell travel or other services for purchase by children. Please be aware that Eze2Travel has not designed this Website for and does not intend for it to be used by anyone under age 18. Accordingly, this Website should not be used by anyone under age 18. Eze2Travel specifically requests that persons under the age of 18 not use this Site or submit information to the Site. Eze2Travel does not knowingly collect information from children under 18. If you are under 18, please do not submit any personally identifiable information to Eze2Travel. If a minor has provided the Company with Personal Information, a parent or guardian of that minor may contact us via e-mail: info@eze2travel.com via regular mail at 9121 Anson Way, Suite 200, Raleigh NC 27615 or via phone at 919-815-0200. If Eze2Travel discovers that a minor has provided Eze2Travel with Personal Information, that minor’s information will be removed from the Eze2Travel’s database as soon as practicable

        <div class="TrendingHeader">
            Contact Information
        </div>
        If you have any questions about this Privacy Policy, or if you want to contact us about modifying or deleting your personal profile, or for any other reason related to this Privacy Policy, please send an email to info@eze2travel.com

        <div class="TrendingHeader">
            Your Consent to This Privacy Policy
        </div>
        By providing Personal Information to us, you are giving your consent and permission for any use of the Personal Information that is consistent with the uses stated in this Policy or elsewhere at the Website at the point you submit such Personal Information, and such consent will be presumed by Eze2Travel, unless you expressly state otherwise at the time you submit the Personal Information. If you do not agree to the uses stated in this Policy or disclosed elsewhere at the Website, please do not use the website or provide us with any Personal Information.

        <div class="TrendingHeader">
            California Residents
        </div>
        California residents have the right to request in writing from Eze2Travel:

        (i) a list of the categories of Personal Information, such as name, address, e-mail address, telephone numbers, and the type of services provided to the customer, that Eze2Travel has disclosed to third parties (including affiliates that are separate legal entities) during the immediately preceding calendar year for the third parties’ direct marketing purposes, and

        (ii) the names and addresses of all such third parties.

        To request the above information, please contact us via e-mail at info@eze2travel.com via regular mail at 9121 Anson Way, Suite 200, Raleigh NC 27615; or by telephone at 919-815-0200. We will respond to such written requests, free of charge, within 30 days following receipt at the e-mail, fax number or mailing address stated above. If we receive your request at a different e-mail, fax number or mailing address, we will respond within a reasonable period of time, not to exceed 150 days from the date received. Please note that we are only required to respond to each customer once per calendar year.

        <div class="TrendingHeader">
            Questions or Comments?
        </div>
        If you have any questions or concerns about this Policy or the way we use your Personal Information, please feel to contact us via e-mail at info@eze2travel.com via regular mail at 9121 Anson Way, Suite 200, Raleigh NC 27615; or by telephone at 919-815-0200.



        Your privacy is of the utmost importance to Eze2Travel and we welcome your feedback.
    </div>
</div>