@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "/Views/Shared/_BaseLayout.cshtml";
}

<div class="row">
    <div class="offset-4 col-4 " style="padding-top:150px;padding-bottom:150px">
        <h1>@ViewData["Title"]</h1>
        <p>Please check your email to reset your password.</p>
    </div>
</div>

