@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "/Views/Shared/_BaseLayout.cshtml";
}

<div class="row">
    <div class="offset-4 col-4 " style="padding-top:150px;padding-bottom:150px">
        <h1>@ViewData["Title"]</h1>
        <p>Your password has been reset. Please <a asp-page="./Login">click here to log in.</a></p>
    </div>
</div>
