@model string

@{
    ViewData["Title"] = "Invalid Quote";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div style="padding-left:50px;padding-bottom:200px;">
    <div style="padding-top:120px;">
        There was an Error Generating your Quote : @Model
    </div>
</div>
