@model UIContact

@{
    ViewData["Title"] = "Invalid Quote";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div style="padding-left:50px;padding-bottom:200px;">
    <div style="padding-top:120px;">
        You requested an invalid Quote
    </div>
    <div style="padding-top:30px">Please contact your agent</div>
    <div class="">
        <div style="padding-left:50px;">@Model.Name</div>
        <div style="padding-left:50px;">@Model.PrimaryEmail</div>
        <div style="padding-left:50px;">@Model.PrimaryPhone</div>
    </div>
</div>