@model List<UIContact>

@{
    ViewData["Title"] = "Contacts";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div>
    <h1 class="title-header">Contacts</h1>
    <div class="content-container">
        <div class="breadcrumbs">
            <a class="breadcrumbs-link" href="/Portal">Portal</a>/
            <a class="breadcrumbs-link current" href="/Contacts">Contact</a>
        </div>
    </div>
</div>
<hr class="title-hr mt-0" />
<div class="content-container">
    <div class="TableBox bans-3d">
        <a href="/Contacts/Edit">New Contact</a>
        @(Html.DevExtreme().DataGrid<UIContact>()
    .DataSource(Model)
    .RemoteOperations(false)
    .Selection(s => s.Mode(SelectionMode.Single))
    .SearchPanel(searchPanel => searchPanel
        .Visible(true)
        .Width(540)
        .Placeholder("Search...")
    )
    .ShowRowLines(false)
    .HoverStateEnabled(true)
    .RowAlternationEnabled(false)
    .ShowBorders(false)

    .Columns(columns => {
        columns.AddFor(m => m.Name).AllowEditing(false);
        columns.AddFor(m => m.DOB);
        columns.AddFor(m => m.PrimaryEmail);
        columns.AddFor(m => m.PrimaryPhone);
    })
    .Paging(p => p.PageSize(17))
    .StateStoring(s => s.Enabled(true).Type(StateStoringType.LocalStorage).StorageKey("storage"))
    .OnRowClick("SelectedRow")
    )
    </div>
</div>

<script>
    function SelectedRow(obj) {
        var lId = obj.key.Id;
        console.log(lId);
        document.location.href = "/Contacts/Details/" + lId;
    }
</script>
