@model BlitzerCore.Models.UI.Media

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<h1>Edit</h1>

<h4>Media</h4>
<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>

