@inherits LayoutComponentBase
    <div>This Shit Worked!!!</div>
<div class="sidebar">
    <div>Hotel 1</div>
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">

    </div>
</div>