@model BlitzerCore.Models.RoomType

@{
    ViewData["Title"] = "Room Type";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="content-container">
    <h1>@Model.Accommodation.Name Room Type</h1>

    <hr />

    <form asp-action="EditRoomType" class="col-6 offset-3">
        @Html.HiddenFor(m => m.SKUID)
        @Html.HiddenFor(m => m.AccommodiationID)
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="URL" class="control-label"></label>
            <input asp-for="URL" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SortOrder" class="control-label"></label>
            <input asp-for="SortOrder" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="KingOr2Queens" class="control-label"></label>
            @Html.CheckBox("KingOr2Queens", new { @class = "chk-style" })
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="form-group btn-clearence">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </form>
</div>
