<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
	<system.web>
		<customErrors mode="Off"/>
		<trust level="Full" />
	</system.web>
	<system.webServer>
		<httpErrors errorMode="Detailed"/>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" hostingModel="InProcess">
			<environmentVariables>
				<environmentVariable name="ASPNETCORE_HTTP_PORT" value="80" />
				<environmentVariable name="COMPLUS_ForceENC" value="1" />
			</environmentVariables>
		</aspNetCore>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="1073741824" />
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Mvc.ViewFeatures" publicKeyToken="1b03e6acf1164f73"/>
				<bindingRedirect oldVersion="2.2.0.0" newVersion="3.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>